<?xml version="1.0"?>
<!-- app/code/Esgi/Beer/etc/adminhtml/routes.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="beer" frontName="beer">
            <module name="Esgi_Beer" />
        </route>
    </router>
</config>
